---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}

{% if site.author.googlescholar %}
  <p>You can also find my articles on my <a href="{{ site.author.googlescholar }}" target="_blank">Google Scholar</a> profile.</p>
{% endif %}

<h2>Journals</h2>
{% for post in site.publications reversed %}
  {% if post.category == "journals" %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}

<h2>Conferences</h2>
{% for post in site.publications reversed %}
  {% if post.category == "conferences" %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}
